<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Sensores e Atuadores</title>
</head>
<body>
    <h1>Cadastro de sensores e atuadores</h1>
    <input type="text" placeholder="Nome do Sensor"> <br>
    <input type="text" placeholder="Valor do Sensor"> <br>
    <input type="radio" name="" id=""> <label>Sensores</label>
    <input type="radio" name="" id=""> <label>Atuadores</label>
</body>
</html>